.hidden {
    display: none;
}

html {
    height: 100%;
  }
body {
background-size:cover;
background: linear-gradient(to bottom right, #B1DABE, #24792B);
min-height: 100%;
background-repeat: no-repeat; 
height: 100%;
}